body{
background-color:lightpink;
font-family: 'Open Sans', sans-serif;
font-size: larger;
text-decoration: green;
}



h1{
color:green

}

p{
    color:green;
    font-size : 1.5rem;
    
}

div{
    text-align:center;
}

.video{
    justify-content: center;
}
 /* .container{

    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 30px;
    box-sizing: border-box;
    border:radius 18px;
 } */
 /* .circle{
    width: 300px;
    height: 280px;
    background:
    url( https://images.pexels.com/photos/169579/plums-fruit-fruit-basket-blue-169579.jpeg?cs=srgb&dl=pexels-pixabay-169579.jpg&fm=jpg);
    background-size: 100% 100%;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 30px;
 } */


 .p2{
 font-family: 'EB Garamond', serif;
 font-size: 28px;
 
 } 

 /* .right-bck{background-color:rgb(168, 50, 149);}.registration-right{width: 80%;padding-top: 50px;padding-bottom: 50px}
 .registration-right h2{color: #ffffff;font-weight: 700;padding-bottom: 20px}
 .registration .btn{width: 100%}.fa, .fas, .fab{font-family: "Font Awesome 5 Free";font-weight: 900}
 .far{font-family: "Font Awesome 5 Free";font-weight: 400}
 .event-list .card{background-color:rgb(129, 44, 125);padding: 18px;margin-bottom: 3px}
 .event-list img{width: 77px;height: 77px}.event-list h4{color: #c0bfc9;font-size: 16px}
 .event-list .card-title span{padding-left: 5px;padding-right: 20px;font-size: 12px;font-weight: 700}
 .event-list .card-text{color: #ffffff;font-weight: 700;font-size: 16px}
 .event-list .card-body{padding: 0 20px;margin: 0 0 10px 0}.event-list .card-title svg{color: #ffffff}

 .container-fluid{
padding-left: 10%;
padding-right: 10%;
margin-left: 10%;
margin-bottom: 10%;

 } */

/* doute sur ce code
 card{
    padding:10px;
    height:25px;
    border:none;
    -webkit-box-shadow: 0px 1px 9px 3px rgba(219,210,219,1);
-moz-box-shadow: 0px 1px 9px 3px rgba(219,210,219,1);
box-shadow: 0px 1px 9px 3px rgba(219,210,219,1);
    justify-content:center;
    align-items:center;
}

*/ 



/* span{
    font-weight: bold;
    font-size: 30px;
    background-color:rgb(168, 50, 149);
    color: black; 
    text-align: center;
}

  .container-neon {
    font-size:smaller;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin-left: 700px;
    margin-right: 700px;
    padding-top: 15px;
    padding-bottom: 15px;



  }
